<h1>Welcome</h1>

<p>Welcome to Story Books 1.0.0</p>
<p>Post the stories from the best and worst of your life, and set privacy control to be viewed by the world or
  completely private.</p>
{{#if user}}
{{else}}
<a class="btn red darken-1" href="/auth/google">
<i class="fa fa-google left"></i>Login With Google</a>
{{/if}}